.register-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-card {
    min-width: 400px;
    width: 30%;
    height: 70%;
  }

  .register-container {
    display: flex;
    flex-direction: column;
  }
}

