<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <h1>Create new Account</h1>
      <mat-error *ngIf="!loginValid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field>
        <input
          matInput
          placeholder="First Name"
          [(ngModel)]="firstName"
          name="firstName"
          required
        />
        <mat-error> Please provide your first name </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Last Name"
          [(ngModel)]="lastName"
          name="lastName"
          required
        />
        <mat-error> Please provide your last name </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="phone"
          matInput
          placeholder="Phone"
          [(ngModel)]="phone"
          name="phone"
          required
        />
        <mat-error> Please provide your phone number </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="username"
          name="username"
          required
        />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
          name="congirmPassword"
          required
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>
      <button class="button" mat-raised-button color="accent">Register</button>
    </form>
  </mat-card-content>
</mat-card>
