.bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .auth-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;

    .auth-links {
      display: flex;
      gap: 0.5rem;
    }
  }

}

