<div class="bar-container">
  <div class="navigation">
    <a nbButton routerLink="/">
      <nb-icon icon="home"></nb-icon> Home
    </a>
  </div>
  <div class="auth-container">
    <div class="auth-links" *ngIf="!user">
      <a nbButton outline status="primary" routerLink="/auth/login" class="login-button">Login</a>
      <a nbButton status="primary" routerLink="/auth/register">Register</a>
    </div>
    <nb-user name="{{user.username}}" nbContextMenuTag="user-context-menu" *ngIf="user" (click)="logoutEvent.emit()"></nb-user>
  </div>
</div>
